html {
  --purple: #845ec2;
  --pink: #fbeaff;
  overflow-x: hidden;
}

.backclass {
  background-image: url(/assets/images/default.png);
}

.plainclass {
  color: white;
  background-color: rgba(0, 0, 0, 0.88);
}

.plainclass1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.88);
}

.container {
  max-width: 70%;
  margin: 0 auto;
  font-size: 1.1em;
  font-family: verdana, arial, helvetica, san-serif;
  text-align: justify;
}

.container a {
  /* color: #a0a0a0; */
  color: var(--pink);
}

.container a:hover {
  color: #f0f0f0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  /* float: left;
  display: inline-block;
  height: 130px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left; */
}

.left {
  width: 130px;
}

.youtube {
  float: left;
  display: inline-block;
  height: 150px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.yvideo {
  width: 25%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.yinfo {
  width: calc(75% - 30px);
  height: calc(100% - 20px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  background-color: var(--purple);
  font-size: 1em;
  border-radius: 3px;
}

.navbar ul li {
  display: inline-block;
  padding: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul li a:hover {
  color: white;
  font-size: 1em;
  font-weight: bold;
}

pre {
  border: 3px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  color: #b5e853;
  font-size: 0.7em;
  border-radius: 2px;
}

/*
  ZCZC
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  color: #b5e853;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
  max-width: 65%;

 */

/*
 ************************************************************
 */

@media screen and (max-width: 768px) {
  ul {
    margin: 0;
  }
  .navbar {
    font-size: 0.7em;
  }
  #navbar ul li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #navbar ul li a {
    margin: 0;
    padding: 0;
  }
  #menu {
    display: none;
  }
  #maincontent {
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 1em;
  }
  .container {
    max-width: 100%;
    padding: 5px;
    margin: 0 auto;
    font-size: 1.1em;
    font-family: verdana, arial, helvetica, san-serif;
    text-align: justify;
  }
}

/*
 ************************************************************
 */
